In [3]:
import numpy as np
import pandas as pd

heights_A= pd.Series([176.2,158.4,167.6,156.2,161.4])
index_ = ['s1', 's2', 's3', 's4', 's5']
heights_A.index = index_

In [8]:
pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [6]:
df

   a   b
0  1   2
1  5  10

In [10]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)
d

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

In [11]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
print(s[['c', 'a']])

c    98.2
a    89.2
dtype: float64

In [21]:
s=pd.Series([9.2, 6, 89])

In [23]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [4]:
print(heights_A[1:4])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

In [5]:
weights_A=pd.Series([85.1,90.2,76.8,80.4,78.9])
index_ = ['s1', 's2', 's3', 's4', 's5']
weights_A.index = index_

In [6]:
df_A = {  "Student_height": heights_A,
          "Student_weight": weights_A}
df_A=pd.DataFrame(df_A)

In [9]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [10]:
df_A.to_csv('classA.csv')

In [11]:
df_A2=pd.read_csv('classA.csv')
print(df_A2)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [14]:
df_A3= pd.read_csv('classA.csv',index_col=0)

In [15]:
df_A3

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [17]:
my_mean = 170.0
my_std = 25.0
np.random.seed(100)
heights_B = pd.Series(np.random.normal(loc = my_mean, scale = my_std, size = 5))
heights_B.index = ['s1','s2','s3','s4','s5']

In [18]:
my_mean1 = 75.0
my_std1 = 12.0
np.random.seed(100)
weights_B = pd.Series(np.random.normal(loc = my_mean1,scale = my_std1,size = 5))
weights_B.index = ['s1','s2','s3','s4','s5']

In [20]:
df_B = pd.DataFrame()

In [21]:
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B
df_B.to_csv('classB.csv',index = False)
print('classB.csv')

classB.csv

In [27]:
len(pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [34]:
df=pd.DataFrame(np.random.random((10,10)))
df

,0,1,2,3,4,5,6,7,8,9
0,0.976500,0.166694,0.023178,0.160745,0.923497,0.953550,0.210978,0.360525,0.549375,0.271831
1,0.460602,0.696162,0.500356,0.716071,0.525956,0.001399,0.394700,0.492167,0.402880,0.354298
2,0.500614,0.445177,0.090433,0.273563,0.943477,0.026545,0.039999,0.283140,0.582344,0.990893
3,0.992642,0.993117,0.110048,0.664481,0.523987,0.173150,0.942960,0.241860,0.998932,0.582694
4,0.183279,0.386845,0.189674,0.410771,0.594680,0.716586,0.486891,0.309590,0.577441,0.441708
5,0.359678,0.321332,0.208207,0.451259,0.491843,0.899076,0.729360,0.770090,0.375439,0.343740
6,0.655035,0.711038,0.113538,0.133029,0.456039,0.159736,0.961642,0.837616,0.520161,0.218272
7,0.134919,0.979070,0.707043,0.859976,0.387173,0.250834,0.299438,0.856896,0.472984,0.663277
8,0.805729,0.252981,0.079573,0.732761,0.961397,0.953805,0.490499,0.632192,0.732995,0.902410
9,0.162247,0.405881,0.417091,0.695591,0.424847,0.858114,0.846932,0.070199,0.301752,0.979624

In [35]:
index = [ 'r1', 'r2', 'r3', 'row4', 'row5', 'row6', 'r7', 'r8', 'r9', 'row10']

In [36]:
g = df.groupby(df.index.str.len())

AttributeError: Can only use .str accessor with string values!

In [11]:
height=df['Student_height']
print(type(height))

<class 'pandas.core.series.Series'>

In [14]:
df_s1s2=df.loc[['s1','s2'], :]
df_s1s2

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

In [16]:
df

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [18]:
df_s2s5s1=df.loc[['s1','s5','s2'], :]

In [19]:
print(df_s2s5s1)

    Student_height  Student_weight
s1           176.2            85.1
s5           161.4            78.9
s2           158.4            90.2

In [20]:
df

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [22]:
df_s1s4=df.loc[['s1','s4'],:]
print(df_s1s4)

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4

In [29]:
print(df_A)

{'Student_height': s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
dtype: float64, 'Student_weight': s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
dtype: float64}

In [31]:
df_s1s4 = df[df.index.isin(['s1','s4'])]
print(df_s1s4)

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4

In [36]:
a= list('AAAAABBBBB')
a

['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B']

In [37]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)), 
                'rain':pd.Series(100 + 50*np.random.randn(10)),
             'location':list('AAAAABBBBB')})

In [40]:
print(df.describe())

            temp        rain
count  10.000000   10.000000
mean   25.602686   86.649078
std     8.158816   36.280376
min    12.804371   28.588341
25%    19.066882   67.977494
50%    27.060782   86.654653
75%    32.651093  102.184688
max    35.185066  158.291623

In [41]:
print(df.describe(include=['object']))

       location
count        10
unique        2
top           B
freq          5