In [1]:
# Now with Kaggle

import pandas as pd

In [2]:
pd.DataFrame({'Yes':[50,20,30], 'No':[131,3,4]})

   Yes   No
0   50  131
1   20    3
2   30    4

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

# The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:

'''
Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list.
nd in fact you can create one with nothing more than a list:

'''

In [6]:
pd.Series([1,2,3,5,67])

0     1
1     2
2     3
3     5
4    67
dtype: int64

In [9]:
df=pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
print(df)

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [13]:
df=pd.read_csv("classA.csv")
df

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [15]:
df.shape

(5, 3)

In [16]:
df.head()

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9